///////////////////////////////
// MEDIA QUERY

// 1920px --> 1920/16 = 120em
$bp-wide: 120em;

// 1536px --> 1536/16 = 96em
$bp-largest: 96em;

// 1400px --> 1400/16 = 87.5em
$bp-largest2: 87.5em;

// 1280px --> 1280/16 = 80em
$bp-large: 80em;

// 1024px --> 1024/16 = 64em
$bp-medium: 64em;

// 768px --> 768/16 = 48em
$bp-smallest: 48em;

// 600px --> 600/16 = 37.5em
$bp-small: 37.5em;

// 414px --> 414/16 = 26em
$bp-mobile: 26em;

// COLOR VARIABLES
$color-primary: #000000;
$color-primary-dark: #b28451;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-size: 62.5%; // 10px/16px = 62.5% --> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-primary;
  font-weight: 300;
  line-height: 1.6;
}

.footer-text {
  font-size: 1.4rem;
  color: #f5f5f5;
  padding-top: 2rem;
  text-align: center;
}

.side-element {
  position: fixed;
  z-index: 450;
  color: #ffffff;

  @media only screen and (max-width: $bp-smallest) {
    display: none;
  }

  &-heading {
    padding-left: 6rem;
    padding-right: 2rem;
    color: #f5f5f5;
  }

  &--left {
    bottom: 0;
    left: 0;
  }

  &--bottom {
    bottom: 0;
    right: 0;
  }

  &--right {
    top: 0;
    right: 0;
  }

  &--top {
    top: 0;
    left: 0;
  }

  &--horizontal {
    height: 60px;
    width: calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
  }

  &--vertical {
    width: 60px;
    height: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
  }

  &--1 {
    background-color: #000000;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
  }

  &--2 {
    background-color: #000000;
  }

  &--3 {
    background-color: #000000;
  }

  &--4 {
    background-color: #000000;
  }
}
